<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<title>Play-Crypto - Something went wrong! </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Bootstrap core CSS -->
<link href="../../css/editor.css" rel="stylesheet">


<link href="narrow-jumbotron.css" rel="stylesheet">

<style>

	</style>

</head>

<body data-new-gr-c-s-check-loaded="14.987.0" data-gr-ext-installed="" data-new-gr-c-s-loaded="14.987.0"
      style="background-color: rgb(249, 250, 254); text-align: center; color: rgb(27, 27, 29); padding-bottom: 0px; padding-top: 0px; margin-bottom: 37px; margin-top: 0px;">
<div class="container" style="text-align: center;  transform: translate(0%, 25%);">

    <img src="https://raw.githubusercontent.com/MjSiva398/vb/759000b5d843df8ceabafe24c3b79d46e725f724/Play%20%20Crypto.svg"
         class="img-fluid p-4 row mx-auto">

    <img src="https://raw.githubusercontent.com/MjSiva398/vb/main/check.png"
         class="img-fluid p-4 row mx-auto" style="max-width: 30% !important;">


    <p class="reset-password py-3">Congratulations!</p>

    <p class="py-3 mt-2"
       style="font: normal normal normal 14px/21px Roboto; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/21px var(--unnamed-font-family-roboto);letter-spacing: var(--unnamed-character-spacing-0);">Your account has been activated and email is verified!<br>now you can login by clicking button below.</p>

    <a href="http://play-crypto.com/" style="text-decoration:none;color:#ffffff;"><button type="submit" class="btn btn-primary mb-2 py-2 mt-2" style="font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-roboto);font: normal normal medium 14px/17px Roboto;">Click here to login</button></a>


    <p
            class="mt-5"
            style="font: italic normal var(--unnamed-font-weight-normal) 11px/21px var(--unnamed-font-family-roboto);color: var(--unnamed-color-7784a1);text-align: center;font: italic normal normal 11px/21px Roboto;color: #7784A1;">
        This message was sent to <u th:text="${email}"></u>. If you have questions or complaints, please contact us.</p>

    <p
            class="mt-2"
            style="font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 11px/21px var(--unnamed-font-family-roboto);color: var(--unnamed-color-7784a1);text-align: center;font: normal normal normal 11px/21px Roboto;color: #7784A1;">
        Terms of Use | Privacy Policy</p>

</div>
</body>
</html>