<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <p th:text="${name}"></p>
        <p th:text="${email}"></p>
        <p th:text="${phone}"></p>
        <p th:text="${description}"></p>
    </div>
</body>
</html>