<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Play-Crypto Notification Welcome Mail</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="../../css/editor.css" rel="stylesheet">


    <link href="narrow-jumbotron.css" rel="stylesheet">

    <style>
button {
	margin: auto;
	width: 50%;
	padding: 20px;
	background: var(- -unnamed-color-0063d1) 0% 0% no-repeat padding-box;
	background: #0063D1 0% 0% no-repeat padding-box;
	border-radius: 3px;
	font: var(- -unnamed-font-style-normal) normal
		var(- -unnamed-font-weight-normal) var(- -unnamed-font-size-16)/var(--unnamed-line-spacing-19)
		var(--unnamed-font-family-lato);
	letter-spacing: var(- -unnamed-character-spacing-0);
	text-align: center;
	font: normal normal normal 16px/19px Lato;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
}

.box {
	margin: auto;
	width: 60%;
	padding: 50px;
	border: 1px solid var(- -unnamed-color-e4e4e5);
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #E4E4E5;
	border-radius: 3px;
	opacity: 1;
}

div {
	font: var(- -unnamed-font-style-normal) normal
		var(- -unnamed-font-weight-normal) var(- -unnamed-font-size-16)/24px
		var(- -unnamed-font-family-lato);
	letter-spacing: var(- -unnamed-character-spacing-0);
	color: var(- -unnamed-color-1b1b1d);
	text-align: center;
	font: normal normal normal 16px/24px Lato;
	letter-spacing: 0px;
	color: #1B1B1D;
	opacity: 1;
}
</style>

</head>

<body data-new-gr-c-s-check-loaded="14.987.0" data-gr-ext-installed=""
      data-new-gr-c-s-loaded="14.987.0"
      style="background-color: rgb(249, 250, 254); text-align: center; color: rgb(27, 27, 29); padding-bottom: 0px; padding-top: 0px; margin-bottom: 37px; margin-top: 0px;">
<div class="container" style=""></div>
<div class="container" style=""></div>
<div class="container" style="text-align: center;">
    <img
            src="https://raw.githubusercontent.com/MjSiva398/vb/main/playcrypto.png"
            height="55" width="150.50"
            style="margin-top: 20px; margin-bottom: 30px;"><br/>

    <div class="m-5"></div>
</div>
<div class="box" align="center">


    <div class="jumbotron" style="background-color: rgb(255, 255, 255);">
        <h4 th:text="${'Dear ' + username }"></h4>
        <div class="form-group" style=""></div>

        <p class="lead"
           style="opacity: 1; font-weight: 600; text-align: center; line-height: 28px; width: 451px;">
        <div class="form-group" style=""></div>
        </p>
        <p class="py-3"
           style="font: normal normal normal 14px/21px Roboto; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/21px var(--unnamed-font-family-roboto);letter-spacing: var(--unnamed-character-spacing-0);">
            Welcome to Play-Crypto!<br>You will be notified in future!<br>
    </div>
</div>
<!-- /box -->
<br />
<div class="container" style="margin-top: -20px;">
    <i>This message was sent to <u th:text="${email}"></u>. If you have questions or complaints, please contact us.</i>
    <div class="m-5">Terms of Use | Privacy Policy</div>
    <br/>
</div>
</body>
</html>
