<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<title>Welcome to Profit Ride community.</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;900&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>




<link href="../../css/editor.css" rel="stylesheet">


<link href="narrow-jumbotron.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<style>
		:root {

			/* Colors: */
			--unnamed-color-7784a1: #7784A1;

			/* Font/text values */
			--unnamed-font-family-roboto: Roboto;
			--unnamed-font-style-normal: normal;
			--unnamed-font-weight-normal: normal;
			--unnamed-font-weight-medium: medium;
			--unnamed-font-weight-bold: bold;
			--unnamed-font-size-12: 12px;
			--unnamed-font-size-14: 14px;
			--unnamed-font-size-16: 16px;
			--unnamed-font-size-20: 20px;
			--unnamed-font-size-24: 24px;
			--unnamed-character-spacing-0: 0px;
			--unnamed-line-spacing-14: 14px;
			--unnamed-line-spacing-17: 17px;
			--unnamed-line-spacing-19: 19px;
			--unnamed-line-spacing-24: 24px;
			--unnamed-line-spacing-29: 29px;
		}


		button {
			margin: auto;
			width: 75% !important;
			padding: 20px;
			background: var(- -unnamed-color-0063d1) 0% 0% no-repeat padding-box;
			background: #1B1922 0% 0% no-repeat padding-box;
			text-decoration: none;
			border-radius: 3px;
			border: none;
			font: var(- -unnamed-font-style-normal) normal var(- -unnamed-font-weight-normal) var(- -unnamed-font-size-16)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-lato);
			letter-spacing: var(- -unnamed-character-spacing-0);
			
			font: normal normal normal 16px/19px Lato;
			letter-spacing: 0px;
			color: #FFFFFF;
			opacity: 1;
		}

		.container {
			
			width: 700px;
			height: 700px;
			background:#F7F8FA 0% 0% no-repeat padding-box;
			border: 1px solid #2087EC;
			opacity: 1;
			margin-left: auto;
			margin-right: auto;

		}
.borderTop
{
	height: 4px;
	  background: linear-gradient(to right, #2087EC, #CC5151);

}
.code
{
	height: 86px;
	letter-spacing: -0.54px;
background-color: #E6F2FF;
opacity: 1;
font-size: 36px;
color: #2087EC;
  font-family: 'Heebo';
  font-weight: 600;
  border: 2px dashed #2087EC;
border-radius: 15px;
width: 278px;height: 86px;
}
.welcomeHead
{
	font-size: 24px;
  font-family: 'Heebo';
  font-weight: 500;
   color: #1B1922;
   letter-spacing: -0.36px;
cursor: pointer;

}
	

	.name
{
	font-size: 18px;
  font-family: 'Heebo';
  font-weight: 500;
   color:#1B1922;

letter-spacing: -0.27px;

}

.message
{
	font-size: 14px;
  font-family: 'Heebo';
  font-weight: 500;
   color:#1B1922;
letter-spacing: -0.21px;

}

	


	</style>


</head>

<body data-new-gr-c-s-check-loaded="14.987.0" data-gr-ext-installed="" data-new-gr-c-s-loaded="14.987.0"
      style="">
      <div >
<div style="transform: translate(5%, 5%);width: 700px; 
			
			opacity: 1;margin :auto;">
<div style="padding-left: 50px;margin-top: 25px;">
 <img src="https://raw.githubusercontent.com/MjSiva398/vb/main/playcrypto.png" width="96px"
            style="margin-top: 20px; margin-bottom: 30px;">
 </div>	

<div style="width:582px;height: 677px;margin-left: auto;margin-right: auto; background-image: linear-gradient(#21D4FD, #B721FF);" class="border mx-auto" >
	<!-- <p style="height: 4px; background: linear-gradient(to right, #2087EC, #CC5151);"></p> -->
<div style="text-align: center;padding: 100px;margin: auto" >
 

<div style="margin-left: auto;margin-right: auto" >
 <img src="http://139.162.46.142/play-crypto/images/users/img@2x.png" width="273.13px"   >
</div>
<!--     	<p  style="font-size: 18px;  font-family: 'Heebo'; font-weight: 500; color:#1B1922;
letter-spacing: -0.27px;" th:text="${'Hi ' + username }"> </p> -->
<p style="font-size: 24px;  font-family: 'Heebo';  font-weight: 500;   color:#fff;margin:0px">Thank you for signing up!</p>

  
<p class=" my-3" style="font-size: 16px;  font-family: 'Heebo';  font-weight: 400;color:#fff;margin:0px">We are working on something awesome. <br> You'll be the first to know when we launch.<br> Stay tuned!
</p>



    </div>
</div>
<div style="padding-left: 50px"   >
<p class="mt-4" style="font-size: 12px;  font-family: 'Heebo';  font-weight: 500;
letter-spacing: -0.2px;
color:#8B919E;
opacity: 1;">© 2021 PlayCrypto. All Rights Reserved.</p>
</div>
</div>

</div>
</body>
</html>
